<!--create.ejs-->
<form action="/activity/create" method="POST">
  <div class="container">
    <div class="row">
      <div class="form-group col-12 col-xl-6 col-lg-6 col-sm-12">
        <label>Event Name:</label>
        <input type="text" class="form-control" name="Activity[name]" required>
      </div>
      <div class="form-group col-12 col-xl-6 col-lg-6 col-sm-12">
        <label>Image URL:</label>
        <input type="text" class="form-control" name="Activity[img_url]" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-xl-6 col-lg-6 col-sm-12">
        <label>Short Description:</label><br>
        <textarea class="form-control" name="Activity[short_description]" rows="6" required></textarea>
        <label>Full Description:</label><br>
        <textarea class="form-control" name="Activity[full_description]" rows="8"></textarea>
      </div>
      <div class="form-group col-12 col-xl-6 col-lg-6 col-sm-12">
        <label>Organizer:</label>
        <select name="Activity[organizer]" class="form-control" >
          <option value="nan">Please pick one:</option>
          <option value="student">student</option>
          <option value="professor">professor</option>
        </select>
        <div class="form-group mt-3">
          <label>Event Date:</label>
          <input type="text" name="Activity[event_date]" class="datepicker form-control" required>
        </div>
        <div class="form-group">
          <label>Time:</label>
          <input type="number" class="form-control" name="Activity[time]" required>
        </div>
        <label>Venue:</label>
        <select name="Activity[venue]" class="form-control">
          <option value="nan">Please pick one:</option>
          <option value="OEE1007">OEE1007</option>
          <option value="AAB601">AAB601</option>
          <option value="LT1">LT1</option>
          <option value="RRS1017">RRS1017</option>
        </select>
        <div class="form-group mt-3">
          <label>Quota:</label>
          <input type="number" class="form-control" name="Activity[quota]" required>
        </div>
        <div>
          <label>
            <input name="Activity[high_light]" type="checkbox" value="high_light"> Highlighted Event
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
